.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height-full: 500px;
    --slide-height-responsive: 19em;
    padding-block-end: 2em;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    height: var(--slide-height-responsive);
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height-responsive);
    width: 100%;
    object-fit: cover;
  }
  .embla-thumbs {
    --thumbs-slide-spacing: 0.8rem;
    --thumbs-slide-height: 9rem;
    margin-top: var(--thumbs-slide-spacing);
  }
  .embla-thumbs__viewport {
    overflow: hidden;
  }
  .embla-thumbs__container {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
  }
  .embla-thumbs__slide {
    flex: 0 0 28%;
    min-width: 0;
    padding-left: var(--thumbs-slide-spacing);
    position: relative;
  }
  
  
  @media (min-width: 576px) {
    .embla__container {
      height: var(--slide-height-full);
    }
    .embla__slide__img {
      height: var(--slide-height-full);
    }
    .embla-thumbs__slide {
      flex: 0 0 18%;
    }
  }
  
  .embla-thumbs__slide__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.2;
    transition: opacity 0.2s;
  }
  .embla-thumbs__slide__button:hover {
    opacity: 0.8;
  }
  .embla-thumbs__slide--selected .embla-thumbs__slide__button {
    opacity: 1;
  }
  .embla-thumbs__slide__img {
    display: block;
    height: var(--thumbs-slide-height);
    width: 100%;
    object-fit: cover;
  }
  
  