  .embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height-responsive: 19em;
    --margin-block: $margin-xxl;
  }

  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    height: fit-content;
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height-responsive);
    width: 100%;
    object-fit: cover;
  }
  .photo_description {
    position: absolute;  
    background-color: $white; 
    padding-left: .5em;
    bottom: 0;
    width: 100%;
    box-shadow: 0 10px 0 $color-primary-1, 0 20px 0 $color-highlight;
    opacity: .9;
  }
  .embla-thumbs {
    --thumbs-slide-spacing: 0.8rem;
    --thumbs-slide-height: 9rem;
    margin-top: var(--thumbs-slide-spacing);
  }
  .embla-thumbs__viewport {
    overflow: hidden;
  }
  .embla-thumbs__container {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
  }
  .embla-thumbs__slide {
    flex: 0 0 28%;
    min-width: 0;
    padding-left: var(--thumbs-slide-spacing);
    position: relative;
  }
  
  @media (min-width: 576px) {
    .self-intro {
      .embla {
        margin-block: $margin-lg;
      }
    }

    .embla {
      margin-block: $margin-xxl * 2;
      
      .embla__container,
      .embla__slide__img {
        height: max-content;
      }
      .embla-thumbs__slide {
        flex: 0 0 18%;
      }
    }
  }
  
  .embla-thumbs__slide__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.2;
    transition: opacity 0.2s;
  }
  .embla-thumbs__slide__button:hover {
    opacity: 0.8;
  }
  .embla-thumbs__slide--selected .embla-thumbs__slide__button {
    opacity: 1;
  }
  .embla-thumbs__slide__img {
    display: block;
    height: var(--thumbs-slide-height);
    width: 100%;
    object-fit: cover;
  }
  
  