footer {
    grid-row: 4/5;
      display: grid;
      place-items: center;
      width: 100%;
      min-height: 200px;
      text-align: center;
      color: $color-text-dark;
    }
  
.light ~ footer {
  color: $color-text-light
}