.header {
    display: grid;
    margin-block: $margin-xxl;
    color: $gray;
    margin-inline: $padding-lg * 2;

    h1 {
        font-size: $font-size-xxl * 1.25;
    }

    .title {
        text-transform: uppercase; 
        font-size: $font-size-lg * 1.25;
        letter-spacing: .15em;
        color: $color-information;
        font-weight: 800;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        border-left: 10px solid $color-primary-4;
        box-sizing: content-box;
        padding-left: $padding-lg;
    }
}