.header {
    display: grid;
    margin-block: $margin-xl;
    color: $gray;
    width: 100%;
    box-sizing: content-box;
    transform: translateX($padding-lg);

    h1 {
        font-size: $font-size-xxl * 1.25;
    }

    .title {
        text-transform: uppercase; 
        font-size: $font-size-lg * 1.25;
        letter-spacing: .15em;
        color: $color-information;
        font-weight: 800;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        border-left: 10px solid $color-primary-4;
        padding-left: $padding-lg * 2;
        transform: translateX($padding-lg * 2.25);
    }
}