.header {
    display: grid;
    width: inherit;
    max-width: 1200px;
    margin-block: 3em 2em;
    color: $gray;
    padding-inline: 2rem;
    
    span {
        display: block;
    }

    .title {
        text-transform: uppercase; 
        letter-spacing: .15em;
        color: $color-information;
        font-weight: 800;
    }

    [role="description"] {
        display: grid;
        align-self: center;
    }
    
    p {
        margin-block-end: 1.75em;

        &:first-of-type {
            margin-bottom: unset;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        grid-template-columns: minmax(auto, 500px) auto;
        border-left: 10px solid $color-primary-4;
        padding-inline: 2em;

        [role='description'] {
            grid-column: 1/ span 2;
        }
        img {
            grid-column: 3/4;
        }
    }
}