.navbar {
  grid-row: 1/2;
  justify-self: last baseline;
  width: inherit;
  display: grid;
  justify-items: last baseline;
  top: 0;
}

.menu_wrapper {
  position: fixed;
  @include flex($direction: column, $valign: center);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  z-index: 3;
  text-align: center;
  overflow-y: auto;
  
    li {
      width: inherit;
  
      .menu_link {  
        display: block;
        background-color: inherit;
        padding: $base-padding;
        font-family: $font-stack-1;
  
        &:hover,
        &:focus {
          background-color: $color-highlight-dark;
        }
  
        .menu_icon {
          display: none;
        }
      }
    }
}

.theme_toggler {
  border-radius: 50%;
  border: 0;
  margin-top: 2em;
  margin-inline: 0;
}

.hidden {
    display: none;
}

@media (width > 1024px) {
    .navbar {
      width: 100%;
      position: initial;
      top: auto;
      padding-block: $base-padding;

      .menu_wrapper {
        @include flex($halign: flex-end);
        position: initial;
        height: min-content;
        background-color: transparent;
  
        li {
          width: 10%;
          max-width: 110px;
          margin-inline: $base-margin;
    
          .menu_link {  
            @include flex($direction: column);
            background-color: transparent;
            padding: initial;
            fill: $gray;
      
            &:hover,
            &:focus {
              fill: $color-primary-3;
              background-color: transparent;
            }
  
            p {
              color: inherit;
            }

            .menu_icon {
              display: block;
              width: 45px;
              height: 45px;
              font-size: $base-font-size * 1.75;
            }
            
          }
        }
      }
    }
    .theme_toggler {
      margin-top: 0;
      transform: translateY(-1em);
    }
  }

.light ~ nav {
  background-color: $color-primary-3;

  .menu_wrapper {
      background-color: inherit;

      li a {
        color: $color-text-light;

        &:hover {
          color: $color-highlight-light;
      }
    }
  }
}
