#error-page,
#development_msg {
    padding-inline: $padding-lg;
    text-align: center;
    line-height: 2;
    font-size: unset;
    transform: translateY(-2em);

    img {
        width: 100%;
        max-width: 350px;
    }
}
