#error-page,
#development_msg {
    display: grid;
    height: 100%;
    padding-block: 5em;
    padding-inline: 1em;
    width: inherit;
    text-align: center;
    color: $color-text;
    line-height: 2;
}
