.svg_collection_container {
    margin-block: $margin-lg;
    max-width: unset;

    .svgicons_wrapper {
        display: grid;
        justify-items: center;
        margin-block: $margin-lg;


        div {
            display: flex;
            flex-wrap: wrap;
        }
    }

    h3 {
        background-color: #51b6a8;
    }
}

@media (width > 1024px) {
    .svgicons_wrapper > div {
        width: 90%;
    }
}