.svg_collection_container {
    max-width: unset;

    .svgicons_wrapper {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            flex-wrap: wrap;
        }
    }

    h3 {
        background-color: #51b6a8;
    }
}

@media (width > 1000px) {
    .svgicons_wrapper > div {
        width: 90%;
    }
}