* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: $font-stack-2;
    color: $black;
}

#root {
    display: grid;
    grid-template-rows: 15vh auto auto auto;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: $font-stack-2;
    width: 100%;
}

h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin-block: 1em;
    color: $color-primary-3;
}

h2 {
    font-size: $font-size-xl;
    color: $color-primary-2;
    margin-bottom: $margin-lg;

    &:first-of-type {
        margin-block-start: $margin-lg;
    }
}

h3 {
    font-size: $font-size-lg;
    padding: $padding-s;
    margin-block-end: $margin-lg;
    color: $black;
}

p {
    margin-bottom: 1em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
    transition: 400ms;

    &:hover,
    &:focus {
        color: $color-primary-4;
    }
}

strong {
    position: relative;
    color: $black;
    line-height: 1.25;
    background-color: $color-highlight-dark;
    border-radius: 5px;
}

button {
    padding: $base-padding;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: none;
    }
}

main {
    grid-row: 3/4;
    width: inherit;
    font-family: $font-stack-4;
    padding-block-start: $padding-lg;
    display: grid;
    justify-content: center;

    section {
        max-width: 1200px;
        width: inherit;
        padding-inline: $padding-s;
        margin-block-end: $margin-xl;
        color: $color-text-dark;
    }
            
    p, ul, ol {
        margin-block: $margin-xl;
        font-size: $base-font-size * 1.25;
        line-height: 1.75;
        letter-spacing: 2px;
        color: $color-text-dark;

        &:first-of-type {
            margin-block: 0;
        }
    }  
}

main.light_theme {
    h1 {
        color: $color-primary-0;
    }

    h2 {
        color: $color-primary-0;
    }

    p {
        color: $color_text_light;
    }

    .title {
        color: #107465
    }
}

@media (width > 1024px) {
    main {
        section {
            padding-inline: $padding-lg * 2;
        }

        p, ul, ol {
            font-size: $base-font-size * 1.5;
        }
    }
}