@mixin flex($direction: row, $halign: center, $valign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $halign;
    align-items: $valign;
  }

  
// @mixin theme-colors($light-theme: true) {
//   @if $light-theme {
//     background-color: $light-background;
//     color: $light-text;
//   } @else {
//     background-color: $dark-background;
//     color: $dark-text;
//   }
// }

// .banner {
//   @include theme-colors($light-theme: true);
//   body.dark & {
//     @include theme-colors($light-theme: false);
//   }
// }
