#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100vh;
    
    text-align: center;
}

h1 {
    margin-block: 2rem;
}