.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2/3;
    width: inherit;
    max-width: 1200px;
    height: 30vh;
    max-height: 500px;
    font-size: 1.5em;

    margin-block: 2em;
    font-weight: 800;
    color: lightgray;
    letter-spacing: 2.5px;
    padding-inline: 2rem;
}

span {
    display: block;
}

.header .name {
    font-size: 1.75em;
    margin-block: .25em;
    color: #729BD4;
}

.title {
    text-transform: uppercase; 
    color: #5FCEBF;
}

@media only screen and (min-width: 1000px) {
    .header {
        padding-block-start: 2rem;
        max-height: 400px
    }
}