.header {
    grid-row: 2/3;
    display: grid;
    width: inherit;
    max-width: 1200px;
    font-size: 1.5em;

    align-content: center;
    gap: 2em;
    font-weight: 800;
    color: lightgray;
    letter-spacing: 2.5px;
    padding-inline: 2rem;
}

span {
    display: block;
}

.header .name {
    font-size: 1.75em;
    margin-block: .25em;
    color: #729BD4;
    font-family: 'Nunito Sans', sans-serif;
}

.title {
    text-transform: uppercase; 
    color: #5FCEBF;
}

.header > [role="description"] {
    display: grid;
    align-self: center;
}

.header img {
    justify-self: center;
    width: 100%;
    width: 350px;
    margin-block: 2em;
}

@media only screen and (min-width: 1000px) {
    .header {
        padding-block-start: 2rem;
        grid-template-columns: minmax(auto, 500px) auto;
    }

    .header [role='description'] {
        grid-column: 1/ span 2;
    }

    img {
        grid-column: 3/4;
    }
}