* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
}

#root {
  display: grid;
  grid-template-rows: 15vh auto auto auto;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}

h2, h3 {
  text-transform: uppercase;
}

h1 {
  margin-block: 1em;
  color: #9bbae0;
}

h2 {
  font-size: 2em;
  color: #9abef1;
  margin-bottom: 2em;
}
h2:first-of-type {
  -webkit-margin-before: 2em;
          margin-block-start: 2em;
}

h3 {
  font-size: 1.5em;
  padding: 0.75em;
  -webkit-margin-after: 2em;
          margin-block-end: 2em;
  color: #000000;
}

p {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e4e4e4;
  transition: 400ms;
}
a:hover, a:focus {
  color: #aa2abb;
}

strong {
  position: relative;
  color: #000000;
  line-height: 1.25;
  background-color: #FFA500;
  border-radius: 5px;
}

button {
  padding: 1em;
  cursor: pointer;
}
button:hover, button:focus {
  outline: none;
}

main {
  grid-row: 3/4;
  width: inherit;
  font-family: "Arial narrow", sans-serif;
  -webkit-padding-before: 2em;
          padding-block-start: 2em;
  display: grid;
  justify-content: center;
}
main section {
  max-width: 1200px;
  width: inherit;
  padding-inline: 4em;
  -webkit-margin-after: 3em;
          margin-block-end: 3em;
  color: #cecccc;
}
main p, main ul, main ol {
  margin-block: 3em;
  font-size: 1.25em;
  line-height: 1.75;
  letter-spacing: 2px;
  color: #cecccc;
}
main p:first-of-type, main ul:first-of-type, main ol:first-of-type {
  margin-block: 0;
}

main.light_theme h1 {
  color: #0E3767;
}
main.light_theme h2 {
  color: #0E3767;
}
main.light_theme p {
  color: #000000;
}
main.light_theme .title {
  color: #107465;
}

@media (width > 1024px) {
  main p, main ul, main ol {
    font-size: 1.5em;
  }
}
.sky {
  grid-row: 1/4;
  position: fixed;
  transform: translateZ(-400px);
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: sparkling infinite;
}

.dark {
  background: linear-gradient(to bottom, black 65%, #0E3767);
}

.light {
  background: linear-gradient(to bottom, #9bbae0 65%, #c4d5ec 80%, rgb(214, 223, 248));
}

@keyframes sparkling {
  0% {
    opacity: 0;
    box-shadow: black 0 0 0;
  }
  50% {
    opacity: 1;
    box-shadow: white 0 0 10px;
  }
  100% {
    opacity: 0;
    box-shadow: black 0 0 0;
  }
}
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height-responsive: 19em;
  --margin-block: $margin-xxl;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  height: -moz-fit-content;
  height: fit-content;
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height-responsive);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 9rem;
  margin-top: var(--thumbs-slide-spacing);
}

.embla-thumbs__viewport {
  overflow: hidden;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
  flex: 0 0 28%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
  position: relative;
}

@media (width > 1024px) {
  .self-intro .embla {
    margin-block: 2em;
  }
  .embla {
    margin-block: 10em;
  }
  .embla .embla__container,
  .embla .embla__slide__img {
    height: -moz-max-content;
    height: max-content;
  }
  .embla .embla-thumbs__slide {
    flex: 0 0 18%;
  }
}
.embla-thumbs__slide__button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.embla-thumbs__slide__button:hover {
  opacity: 0.8;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__button {
  opacity: 1;
}

.embla-thumbs__slide__img {
  display: block;
  height: var(--thumbs-slide-height);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo_description {
  position: absolute;
  background-color: #e4e4e4;
  padding-left: 0.5em;
  bottom: 3em;
  width: 100%;
  box-shadow: 0 10px 0 #5093E3, 0 20px 0 #FFA500;
  opacity: 0.9;
  color: #000000;
}

.header {
  display: grid;
  margin-block: 5em;
  color: #adadad;
  margin-inline: 4em;
}
.header h1 {
  font-size: 3.75em;
}
.header .title {
  text-transform: uppercase;
  font-size: 1.875em;
  letter-spacing: 0.15em;
  color: #5FCEBF;
  font-weight: 800;
}

@media only screen and (min-width: 1024px) {
  .header {
    border-left: 10px solid #aa2abb;
    box-sizing: content-box;
    padding-left: 2em;
  }
}
footer {
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
  text-align: center;
  color: white;
  padding-block: 2rem;
  font-size: 1em;
  font-family: "Nunito Sans", sans-serif;
}

.navbar {
  grid-row: 1/2;
  justify-self: last baseline;
  width: inherit;
  display: grid;
  justify-items: last baseline;
  top: 0;
}

.menu_wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 3;
  text-align: center;
  overflow-y: auto;
}
.menu_wrapper li {
  width: inherit;
}
.menu_wrapper li .menu_link {
  display: block;
  background-color: inherit;
  padding: 1em;
  font-family: "Share Tech Mono", monospace;
}
.menu_wrapper li .menu_link:hover, .menu_wrapper li .menu_link:focus {
  background-color: #FFA500;
}
.menu_wrapper li .menu_link .menu_icon {
  display: none;
}

.theme_toggler {
  border-radius: 50%;
  border: 0;
  margin-top: 2em;
  margin-inline: 0;
}

.hidden {
  display: none;
}

@media (width > 1024px) {
  .navbar {
    width: 100%;
    position: initial;
    top: auto;
    padding-block: 1em;
  }
  .navbar .menu_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: initial;
    height: -moz-min-content;
    height: min-content;
    background-color: transparent;
  }
  .navbar .menu_wrapper li {
    width: 10%;
    max-width: 110px;
    margin-inline: 1em;
  }
  .navbar .menu_wrapper li .menu_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: initial;
    fill: #adadad;
  }
  .navbar .menu_wrapper li .menu_link:hover, .navbar .menu_wrapper li .menu_link:focus {
    fill: #9bbae0;
    background-color: transparent;
  }
  .navbar .menu_wrapper li .menu_link p {
    color: inherit;
  }
  .navbar .menu_wrapper li .menu_link .menu_icon {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 1.75em;
  }
  .theme_toggler {
    margin-top: 0;
    transform: translateY(-1em);
  }
}
.light ~ nav {
  background-color: #9bbae0;
}
.light ~ nav .menu_wrapper {
  background-color: inherit;
}
.light ~ nav .menu_wrapper li a {
  color: #000000;
}
.light ~ nav .menu_wrapper li a:hover {
  color: #c4500d;
}

.menu_btn {
  margin: 1.5rem 2rem;
  width: 45px;
  height: 45px;
  z-index: 5;
  cursor: pointer;
}

.bar {
  background-color: #cecccc;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  margin-top: 15px;
  transition: 300ms;
}
.bar:first-of-type {
  margin-top: 0;
}

.open {
  position: fixed;
  top: 0.5rem;
  margin-block: 1.5rem;
}
.open .bar:nth-of-type(2) {
  display: none;
}
.open .bar:nth-of-type(1) {
  transform: translate(0, 25px) rotate(45deg);
}
.open .bar:nth-of-type(3) {
  transform: translate(0, 5px) rotate(-45deg);
}

main.light_theme .bar {
  background-color: #000000;
}

@media only screen and (min-width: 1024px) {
  .menu_btn {
    display: none;
  }
}
.icons {
  color: black;
  align-self: first baseline;
}
.icons img {
  width: 85px;
  height: 85px;
  margin: 0.5em;
  box-shadow: 1px 1px 1px #adadad;
  background-color: #e4e4e4;
  padding: 0.75em;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.85;
}
.icons img:hover {
  transform: scale(110%);
  opacity: 1;
}

.contact p {
  text-align: center;
}
.contact .card_wrapper {
  display: grid;
  gap: 2rem;
  justify-items: center;
  margin-block: 3em;
}
.contact .card_wrapper .social_media_card {
  background-color: #e4e4e4;
  opacity: 0.85;
  width: 250px;
  border-radius: 10px;
  padding: 1em 2em;
}
.contact .card_wrapper .social_media_card:hover, .contact .card_wrapper .social_media_card:focus {
  background-color: #FFA500;
}
.contact .card_wrapper .social_media_card * {
  color: #000000;
  margin: 0;
}
.contact .card_wrapper .social_media_card svg {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 1024px) {
  .card_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#error-page,
#development_msg {
  padding-inline: 2em;
  text-align: center;
  line-height: 2;
  font-size: unset;
  transform: translateY(-2em);
}

.project_container {
  width: 100%;
  margin-block: 200px auto;
  display: grid;
  justify-content: center;
}
.project_container:first-of-type {
  margin-block: 2em auto;
}
.project_container .details {
  min-height: 400px;
  display: grid;
  grid-template-rows: min-content;
  background-color: white;
  opacity: 0.9;
  color: black;
}
.project_container .details h3 {
  background-color: #5093E3;
  align-self: stretch;
  -webkit-margin-after: unset;
          margin-block-end: unset;
}
.project_container .details .icon {
  width: 35px;
  height: 35px;
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
}
.project_container .details [role=value],
.project_container .details [role=key] {
  padding-inline: 1em;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 1em;
}
.project_container .details [role=key] {
  font-weight: 600;
}
.project_container .web_thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: optimizeSpeed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project_container .btn_wrapper {
  margin-left: 1em;
  -webkit-padding-before: 1.25em;
          padding-block-start: 1.25em;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.project_container .btn_wrapper a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5FCEBF;
  color: black;
  padding-inline: 1em;
  padding-block: 1em;
  height: 50px;
  font-weight: 700;
  -webkit-margin-end: 2em;
          margin-inline-end: 2em;
  border-radius: 5px;
}
.project_container .btn_wrapper a:hover, .project_container .btn_wrapper a:focus {
  background-color: #5093E3;
  color: black;
}
.project_container .btn_wrapper a:first-of-type {
  background-color: #FFA500;
}

@media (width > 640px) {
  .project_container {
    grid-template-columns: 1fr 1fr;
  }
  .responsive_thumbnail {
    bottom: 0;
    right: 0;
    height: 90%;
    transform: translate(10px, 30px);
    z-index: 3;
  }
}
.skills {
  display: grid;
}

@media (width > 1024px) {
  .skills {
    grid-template-columns: 575px auto;
    gap: 2em;
  }
  .skills h2 {
    grid-column: 1/3;
  }
  .skills .description {
    word-break: keep-all;
    word-wrap: break-word;
  }
}
.svg_collection_container {
  margin-block: 2em;
  max-width: unset;
}
.svg_collection_container .svgicons_wrapper {
  display: grid;
  justify-items: center;
  margin-block: 2em;
}
.svg_collection_container .svgicons_wrapper div {
  display: flex;
  flex-wrap: wrap;
}
.svg_collection_container h3 {
  background-color: #51b6a8;
}

@media (width > 1024px) {
  .svgicons_wrapper > div {
    width: 90%;
  }
}/*# sourceMappingURL=index.css.map */