.project_container {
    min-height: 100px;
    width: 100%;
    max-width: 750px;
    border-radius: 10px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

.project_container img {
    width: 100%;
    max-width: 450px;
    background-color: white;
}

@media screen and (min-width: 750px) {
    .project_container {
        grid-template-columns: 1fr 1fr;
    }

    .project_container img {
        grid-column: 2/3;
    }
}